* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#logo-image {
    transform: translateY(-40px);
  
    width: 100%;
    height: 100px;
}


#header-content{
    background-image: url("images/bg.jpeg");
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
}




#nav > *, #menu > *, #contact >* {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

#menu > a:hover {
    color: rgb(175, 171, 171);
    font-size: 1.18rem;
}
#contact > a:hover {
    color: rgb(175, 171, 171);
    font-size: 1.18rem;
}






#nav {
    font-family: 'Raleway', sans-serif;
   
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    height: 300px;
   /* background-color: rgba(0, 0, 0, .2); */
}


#menu > a {
    padding-left: 50px;
}


#intro {
    /* transform: translateY(700px);
    transform: translateX(500px); */
    font-family: 'Raleway', sans-serif;
    text-align: left;
    transform: translate(50px,0px);
    height: 300px;
    width: 600px;
   
}


#intro > p {
    /* font-size: 60px; */
    font-family: 'Raleway', sans-serif;
    font-weight: 570;
}

#about {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(19, 19, 1) , rgb(71, 62, 62) );
    color: white;
    margin: 20px auto;
    font-size: 1.1rem;
    padding: 8px 25px;
    width: 130px;
    height: 40px;
    transition: all 0.3s;
    
}

#about > a {
    text-decoration: none;
    color: white;
}

#about:hover {
 
    transform: scale(1.15);
}


#image {
    text-align: center;
}


#down-arrow {
    height: auto;
    width: 60px;
    margin-top: 140px;
    margin-left: 680px;
    text-align: center;
    animation: Arrow 2s forwards infinite;
    opacity: 0.6;
    position: relative;
}


@keyframes Arrow {
    /* to {
        transform: translateY(55px);
        opacity: 0.3;
    } */
    0%{
        top:0;
        left:0;
    }
    50%{
        top: 20px;
        left: 0%;
        opacity: 0.3;
        transform: scale(0.8);
    }
    100%{
        top:0;
        left:0;
    }

}




#my-story {
    text-align: center;
    
    background-image: url("images/IT\ Bg.png");
    background-size:cover;
    background-repeat: no-repeat;
}

#my-story > h1 {
    /* margin-top: 55px; */
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
    text-align: center;
    font-size: 2.5rem;
}

#prt {
    margin-top: 35px;
    border: 1px solid black;
   border-radius: 50%;
   height: 200px;
   width: 200px;
   
}

#my-story > p {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight:700 ;
    height: 150px;
   
    margin: auto 300px;
    /* width: 850px; */
    /* margin-top: 25px;
    margin-left: 325px; */
    /* margin-right: 200px; */
    padding-bottom: 50px;
    padding-top: 40px;
}


#edu-main {
    /* background-color: rgba(0,0,0,0.3); */
    background-image: url("images/drew-beamer-kUHfMW8awpE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#education {
    padding-bottom: 120px;
    width: 80% ;
    margin: 0 auto;
}

#education > h1 {
  
    padding-top: 55px;
    text-align: center;
    font-size: 2.5rem;
}


#text > h1  {
    text-align: left;
}
/* .fa {
    color: wheat;
    transform: scale(0.5);
    margin-bottom: 325px;
    
} */


#hghs-s {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}


#text {
    padding-left: 200px;
    border-left: 2px solid rgb(78, 53, 53);
    margin: auto 0px auto 0px;
}
#text > h1 {
    /* font-size: 120px; */
}

#text > h2 {
    font-size: 14px;
}

#hghs {
    
    height: 200px;
    width: auto;
}



/* Footer strt */

#footer-container {
    font-family: 'Raleway', sans-serif;
    background-color: #504c4c;
    /* margin-top: 50px; */
}
#achievement {
    margin-top: 20px;
    padding: 20px;
    font-weight: bold;
    color: white;
}


#achievement > h2 {
    text-align: center;
    color: black;
}

#contact-form {
    text-align: center;
    margin-top: 45px;
    padding: 20px;
}


#contact-form > h2 {
    /* margin-bottom: -5px;
    margin-top: 100px; */
}


#contact-form > input {
 display: block;
 padding: 10px;
 border-radius: 10px;
 border: none;
 width: 300px;
 font-size: 1rem;
 margin: 5px auto;
 text-align: center;
}

#contact-form > textarea {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 300px;
    font-size: 1rem;
    margin: 5px auto;
    text-align: center;
    resize: none;
   }

   #dotted {
       border: 8px dotted white;
       border-bottom: none;
       width: 180px;
       margin-bottom: 50px;
   }

   .f-button {
       cursor: pointer;
       padding: 8px;
       width: 80px;
       background-color: rgb(31, 31, 61);
       border: none;
       border-radius: 5px;
       color: white;
       font-weight: bold;
       transition: all 0.3s;
       margin-left: 10px;
   }


   .f-button:hover {
       color: gray;
   }


 #more-ways-to-contact {
   text-align: center;
   margin-top: 28px;

 }

   
  #more-ways-to-contact > h2 {
      text-align: center;
  }

  #more-ways-to-contact > hr {
    width: 230px;
  }


  #buttons {
      padding: 0 15px 0 15px; 
      font-size: 1.5rem;
      color: white;
      
      background-color: transparent;
      border: none;
      border-radius: 50%;
      transition: all 0.3s;
      cursor: pointer;
  }

  #buttons:hover {
      /* background-color: gray; */
      transform: scale(1.2);
  }

  /* Footer2 starts */

  #footer2 {
    font-family: 'Raleway', sans-serif;
      background-color: black;
      text-align: center;
  }

  #navbar2 a {
      text-decoration: none;
      font-size: 1.2rem;
      color: white;
      display: block;
      padding: 8px;
      transition: all 0.4s;
  }

  #navbar2 a:hover {
      color: gray;
  }
  #navbar2 {
      padding-top: 15px;
      width: 100px;
      margin: 0 auto;
  }

  #copy {
      color: white;
      height: 40px;
      font-size: 1rem;
  }

#clear {
    clear: both;
}
  #name-g {
      margin: 25px;
  }

#icons {
    float: left;
}



#photo {
    text-align: center;
}

#p1 {
    width: 70%;
    text-align: center;
    transition: all 0.2s;
}

#p1:hover {
    transform: scale(1.1);
}

#more {
    text-align: center;
    font-size: 2rem;
}

#more > button {
    height: 50px;
    width: 150px;
}

#get-in {
    margin-top: 80px;
}

.fa-user, .fa-envelope, .fa-map-marker  {
    transform: scale(1.7);
    padding-right: 12px;
    margin-top: 10px;
    
}



  #footer-container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
 
}

#achievement {
    width: 33%;
    padding: 50px;
}

#contact-form {
    width: 33%;
}

#more-ways-to-contact {
    width: 33%;
}

#contact-form > input {
    padding: 12px;
    border-radius: 10px;
    width: 350px;
    font-size: 1.0rem;
   }
   
   #contact-form > textarea {
       
       padding: 12px;
       border-radius: 10px;
       width: 350px;
       font-size: 1rem; 
      }



#buttons {
    
}
      


/* footer1 end */

/* Footer2 start */


#footer2 {
    display: flex;
    justify-content:space-around;
    height: 80px;
}

#navbar2 a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    display: inline;
    padding: 8px;
    transition: all 0.4s;
}

#navbar2 {
    
    width: auto;
    margin: auto 0;
}


#copy {
    margin: 28px 0;
    font-size: 1.2rem;
}


#achievement > h2 {
    margin-bottom: 20px;
}

#contact-form > h2 {
    margin-bottom: 20px;
    margin-top: 5px;
}

#more-ways-to-contact > h2 {
    margin-bottom: 80px;
    margin-top: 20px;
}

#more-ways-to-contact {
    color: white;
    
}




/* Footer ends */


#skill-bg {
    background-image: url("images/bg\ 3.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 50px;
}


#skill-hd {
    font-size: 2.5rem ;
    padding-top: 70px;
    padding-bottom: 50px;
}
#skill {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-direction: row;
    /* background-image: url("images/bg\ 3.jpg");
        background-repeat: no-repeat;
       background-size: cover;
       padding-bottom: 50px; */
}

#skill-1 {
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
   text-align: center; 
    margin-left: 60px;
    width: 65%;
}


#skill-1 > button {
    height: min-content;

}

#skill-1 > p {
    font-size: 20px;

}

#skill > h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 55px;
    padding-bottom: 25px;
}


.math:hover {
    box-shadow: 10px 20px 40px gray;
    transform: scale(1.05);
}



.experience-single{
    /* box-shadow: 10px 20px 40px gray; */
    box-shadow: 5px 10px 20px gray;
    border-radius: 10px;
    height: 40%;
    margin-bottom: 30px;
    background-color: white;
    }
    #border-gre{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, #b676e0) 30;
    border-image-slice: fill;
    }
    #border-style{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(7, 90, 34), #b676e0) 30;
    border-image-slice: fill;
    border-radius: 10px;
    }


#accv {
  
}

#accv > h1 {
    padding: 40px;
   font-size: 2.5rem;
}

#accv-container {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around
    
    ;
}




#mo {
    width: 343px;
    height: 150px;
}


.math > p {
    font-size: 20px;
}
.math > h2 {
    
    margin: 30px 0;
    padding-top: 2px;
    padding-bottom: 25px;
}
.math {
    height: 400px;
     text-align: center;
    width: 365px;
    transition: all 0.2s;
    cursor: pointer;
}

.skill-container{
    background: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   
    
    }
    
    .skill-container{
        font-family: 'Raleway', sans-serif;
        background: #fff;
        width: 500px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        /* background-image: url("images/output-onlinepngtools\ \(2\).png");
        background-repeat: no-repeat;
       background-size: cover; */

       background-image: linear-gradient(45deg, rgb(94, 94, 85) , rgb(250, 241, 241) );
        
        
    }

    .skill-container li{
        list-style-type: none;
        margin: 30px 0;
        font-weight: bolder;
        text-transform: uppercase;
        position: relative;
    }

    .skill-container li::before{

        content: '';
        position: absolute;
        top: calc(100% + 10px);
        left: 0;


        background-color: rgb(170,167,173);
        width: 100%;
        height: 5px;
        border-radius: 1000px;
    }


    .skill-container li::after{

        content: '';
        position: absolute;
        top: calc(100% + 10px);
        left: 0;


        background-color: rgb(249,249,250);
        width: 0;
        height: 5px;
        border-radius: 1000px;


        animation-duration: 3s;
        animation-timing-function: ease;
        animation-delay: 0.5s;
        /* animation-iteration-count: 3; */
        /* animation-direction: forward; */
        animation-fill-mode: forwards;
    }

    .skill-container li.html::after{
        animation-name: html;
    }

    @keyframes html{
        to{
            width: 90%;
            background-color: rgb(0, 81, 255);
        }
    }

    .skill-container li.css::after{
        animation-name: css;
    }

    @keyframes css{
        to{
            width: 65%;
            background-color: rgb(0, 81, 255);
        }
    }

    
    .skill-container li.js::after{
        animation-name: html;
    }

    @keyframes js{
        to{
            width: 70%;
            background-color: rgb(0, 81, 255);
        }
    }
        
    .skill-container li.bs::after{
        animation-name: html;
    }

    @keyframes bs{
        to{
            width: 80%;
            background-color: rgb(0, 81, 255);
        }
    }
        
    .skill-container li.java::after{
        animation-name: html;
    }

    @keyframes java{
        to{
            width: 65%;
            background-color: rgb(0, 102, 255);
        }
    }
        
    .skill-container li.cplus::after{
        animation-name: html;
    }

    @keyframes cplus{
        to{
            width: 750%;
            background-color: rgb(9, 53, 175);
        }












